{% load static %}
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Home - Interview Scheduler and Progress Reports</title>
        <link rel="stylesheet" id="ample-style-css" href="{% static 'style.css' %}" type="text/css" media="all">
    </head>
    <body class="wide">
        <div id="page" class="hfeed site">
            <header>
                <div class="header">
                    <div class="main-head-wrap inner-wrap clearfix">
                        <div id="header-logo-image">
                            <a href="/">
                                <img src="{% static 'images/logo.png' %}" alt="Wisdom Pet Medicine">
                            </a>
                        </div>
                        <div id="header-text" class="">
                            <h1 id="site-title">
                                <a href="/" title="Interviews" rel="home">Interviews</a>
                            </h1>
                            <p>Interview tracking</p>
                        </div>
                    </div>
                    <img src="{% static 'images/header.jpg' %}" alt="Interview Tracking">
                </div>
            </header>
            <div class="main-wrapper">
                <div class="single-page clearfix">
                    <div class="inner-wrap">
                        <p>Interview Tracking is an app I've developed to demonstrate various web frameworks hopefully in django/rails/react and angular as a learning vehicle .</p>
                        <hr>
                        <div>
                        {% block content %}
                        {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <footer id="colophon">
                <div class="inner-wrap">
                    Interview Tracking . Any resemblance to real brands, products, or people is purely coincidental.
                </div>
            </footer>
        </div>
        <script src="{% static 'main.js' %}"></script>
    </body>
</html>
